/* Hero section style */

.hero-section {
  min-height: 100vh;
  background-image: url(https://res.cloudinary.com/dzpjquuvs/image/upload/v1765518018/cart1_hggrb9.avif);
  background-size: cover;
  background-position: top;
  /* instead of center */
  background-repeat: no-repeat;
  position: relative;
  color: var(--white-color);
}


.hero-section::before {
  content: "";
  /* Required for the pseudo-element */
  position: absolute;
  /* Position it relative to the parent */
  top: 0;
  /* Cover the top */
  left: 0;
  /* Cover the left */
  right: 0;
  /* Cover the right */
  bottom: 0;
  /* Cover the bottom */
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Make sure it appears above the backgrond */
}

.hero-section>* {
  position: relative;
  /* Make the content appear above the overlay */
  z-index: 2;
  /* Bring content above the overlay */
}

/* Keep your existing styles above */

.hero-section .content {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.hero-section .hero-details {
  padding: 100px 50px 100px 100px;
  max-width: 850px;
}

.hero-section .hero-details .tagline {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  margin-bottom: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.hero-section .hero-details .hero-title {
  font-size: var(--font-size-xxl);
  margin: 10px 0;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.hero-section .hero-details .hero-description {
  /* max-width: 70%;
  margin: 24px 0 40px;
 */
  font-size: var(--font-size-m);
  margin: 20px 0;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.hero-section .hero-details button {
  background-color: var(--secondary-color);
  color: var(--white-color);
  /* background-color: rgba(255, 255, 255, 0.8); 
  color: var(--black-color);  */
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  font-size: var(--font-size-m);
  margin: 20px 0;
  transition: background-color 0.3s;
}

.hero-section .hero-details button:hover {
  background-color: var(--hover-state);
  color: var(--white-color);
}

.hero-section .hero-details button a {
  color: inherit;
  /* Inherit color from button */
}

.home_social_icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.home_social_icons a {
  color: var(--white-color);
  font-size: 29px;
  /* font-size: var( --font-size-l); */
  transition: color 0.3s;
}

.home_social_icons a:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* -------------------- RESPONSIVE (TABLET) -------------------- */
@media (max-width: 1000px) {

  .hero-section {
    min-height: 80vh;
    background-position: center;
  }

  .hero-section .content {
    align-items: flex-start;
    padding-top: 100px;
  }

  .hero-section .hero-details {
    padding: 60px 80px;
    max-width: 700px;
  }

  .hero-section .hero-details .hero-title {
    font-size: var(--font-size-xxl);
    line-height: 1.4;
  }

  .hero-section .hero-details .hero-description {
    font-size: var(--font-size-m);
  }

  .home_social_icons a {
    font-size: 25px;
  }

  .hero-section .hero-details button {
    font-size: 15px;
    padding: 10px 19px;
  }

}

@media (max-width: 800px) {

  .hero-section {
    min-height: 75vh;
    padding: 0 20px;
    background-position: center;
  }

  .hero-section .content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
  }

  .hero-section .hero-details {
    padding: 40px 20px;
    max-width: 100%;
  }

  .hero-section .hero-details .tagline {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .hero-section .hero-details .hero-title {
    font-size: 26px;
    line-height: 1.35;
  }

  .hero-section .hero-details .hero-description {
    font-size: 19px;
    margin: 15px 0;
  }

  .hero-section .hero-details button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .home_social_icons {
    justify-content: center;
  }

  .home_social_icons a {
    font-size: 26px;
  }
}


.mobile-cart-img {
  display: none;
}

@media (max-width: 480px) {

  .hero-section {
    background-color: #ba798f; 
    background-image: url(https://res.cloudinary.com/dzpjquuvs/image/upload/v1765518018/cart1_hggrb9.avif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
  }

 
  .hero-section::before {
    background-color: rgba(0, 0, 0, 0.3);  
  }

  .hero-section .hero-details {
    padding: 35px 15px;
  }

  .hero-section .hero-details .tagline {
    font-size: var(--font-size-s);
  }

  .hero-section .hero-details .hero-title {
    font-size: var(--font-size-l);
    line-height: 1.3;
  }

  .hero-section .hero-details .hero-description {
    font-size: var(--font-size-m);
  }

  .hero-section .hero-details button {
    font-size: var(--font-size-n);
    padding: 13px 25px;
  }

  .home_social_icons a {
    font-size: var(--font-size-l);
  }
}
